In [1]:
import pandas as pd

In [2]:
s1=pd.Series(3)

In [3]:
s1

0    3
dtype: int64

In [4]:
s2=pd.Series([1,2,3,4,5])
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
s3=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [6]:
s3

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
s3.values

array([1, 2, 3, 4, 5])

In [8]:
s3.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [13]:
print(s3.value_counts())

5    1
4    1
3    1
2    1
1    1
dtype: int64

In [14]:
s1=([1,2,3,4,5])
s2=([2,3,4,5])
s1+s2

[1, 2, 3, 4, 5, 2, 3, 4, 5]

In [23]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([2,3,4,5])
s1+s2

0    3.0
1    5.0
2    7.0
3    9.0
4    NaN
dtype: float64

In [24]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [25]:
s2.index

RangeIndex(start=0, stop=4, step=1)

In [26]:
s1=pd.Series([1,2,3,4,5],index=[1,2,3,4,5])
s2=pd.Series([5,4,3,2,1],index=['1','2','3','4','5'])
s1+s2

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

In [30]:
s2.index=range(1,len(s2)+1)

In [31]:
s1+s2

1    6
2    6
3    6
4    6
5    6
dtype: int64

In [32]:
s1[3]

3

In [33]:
s1[s1>2]

3    3
4    4
5    5
dtype: int64

In [35]:
s1[[3,1,4]]

3    3
1    1
4    4
dtype: int64

In [36]:
s1=pd.Series({'a':1,'b':2,'c':3,'d':4})
s1

a    1
b    2
c    3
d    4
dtype: int64

In [40]:
ind=['c','d','b','x']

In [41]:
obj1=pd.Series(s1,index=ind)
obj1

c    3.0
d    4.0
b    2.0
x    NaN
dtype: float64

In [42]:
pd.isna(obj1)

c    False
d    False
b    False
x     True
dtype: bool

In [43]:
pd.isnull(obj1)

c    False
d    False
b    False
x     True
dtype: bool

In [44]:
pd.notnull(obj1)

c     True
d     True
b     True
x    False
dtype: bool