In [1]:
# self practice

In [2]:
import pandas as pd

In [3]:
import requests

In [4]:
from bs4 import BeautifulSoup

In [8]:
res=requests.get("https://asrank.caida.org/asns/75")

In [9]:
res

In [10]:
type(res)

requests.models.Response

In [11]:
soup=BeautifulSoup(res.content,"html")

In [12]:
type(soup)

bs4.BeautifulSoup

In [13]:
table=soup.find_all("table")

In [14]:
table

[<table border="0" class="asrank-info-table table-condensed">
 <tr><th>AS number</th><td colspan="7">75</td></tr>
 <tr><th>AS name</th><td colspan="7">ANL-AS</td></tr>
 <tr><th>organization</th><td colspan="7"><a href="/orgs/5084c43a25">Argonne National Laboratory</a></td></tr>
 <tr><th>country</th><td colspan="7">
                                                 United States
                                 <span class="flag-icon flag-icon-us"></span>
 </td></tr>
 <tr><th>AS rank</th><td colspan="7">71143</td></tr>
 <tr><th>customer cone </th>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of ASNs that are observed to be in the selected ASN's customer cone.">
             1<br/>
 <span>asn</span>
 </td>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of prefixes that are observed to be in the selected ASN's customer cone.">
             0<br/>
 <span>prefix</span>
 </td>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of addresses that are observed to be in the selected ASN's customer cone.">
             0<br/>
 <span>address</span>
 </td>
 </tr>
 <tr><th>AS degree</th>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of ASNs that were observed as neighbors of the selected ASN in a path.">
             0<br/>
 <span>global</span>
 </td>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of ASNs that where observed as neighbors of the selected ASN in a path, where the selected ASN was between, i.e. providing transit, for two other ASNs.">
             0<br/>
 <span>transit</span>
 </td>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of ASNs that are providers of the selected ASN.">
 <br/>
 <span>provider</span>
 </td>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of ASNs that are peers of the selected ASN.">
 <br/>
 <span>peer</span>
 </td>
 <td class="asrank-info-table-sub_facts" data-placement="top" data-toggle="tooltip" title="The number of ASNs that are customers of the selected ASN.">
 <br/>
 <span>customer</span>
 </td>
 </tr>
 </table>]

In [15]:
type(table)

bs4.element.ResultSet

In [17]:
df=pd.read_html(str(table))

In [19]:
df[0]

,0,1,2,3,4,5,6,7
0,AS number,75,75,75,75,75,75,75
1,AS name,ANL-AS,ANL-AS,ANL-AS,ANL-AS,ANL-AS,ANL-AS,ANL-AS
2,organization,Argonne National Laboratory,Argonne National Laboratory,Argonne National Laboratory,Argonne National Laboratory,Argonne National Laboratory,Argonne National Laboratory,Argonne National Laboratory
3,country,United States,United States,United States,United States,United States,United States,United States
4,AS rank,71143,71143,71143,71143,71143,71143,71143
5,customer cone,1 asn,0 prefix,0 address,NaN,NaN,NaN,NaN
6,AS degree,0 global,0 transit,provider,peer,customer,NaN,NaN

In [22]:
df=df[0]

In [23]:
df.iloc[5]

0    customer cone
1            1 asn
2         0 prefix
3        0 address
4              NaN
5              NaN
6              NaN
7              NaN
Name: 5, dtype: object

In [24]:
df.loc[5]

0    customer cone
1            1 asn
2         0 prefix
3        0 address
4              NaN
5              NaN
6              NaN
7              NaN
Name: 5, dtype: object

In [25]:
df.iloc[:,5]

0                             75
1                         ANL-AS
2    Argonne National Laboratory
3                  United States
4                          71143
5                            NaN
6                       customer
Name: 5, dtype: object