In [1]:
import pandas as pd

In [9]:
s1=pd.Series([100,200,300,400])
s1

0    100
1    200
2    300
3    400
dtype: int64

In [22]:
s1=pd.Series([100,200,300,400], index=("a","b","c","d"))
s1

a    100
b    200
c    300
d    400
dtype: int64

In [12]:
s1=pd.Series([100,200,300,400], index=("a","b","c","d"),name=("slaes of 4 days"))
s1

a    100
b    200
c    300
d    400
Name: slaes of 4 days, dtype: int64

In [13]:
s1.values

array([100, 200, 300, 400])

In [14]:
s1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [15]:
s1.name

'slaes of 4 days'

## create a pandas series to store a canten data that how much sandwithes sales per day (in a week)

In [24]:
canten_sales=pd.Series([50,40,60,55,80,70,0],
                       index=["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
canten_sales.name="sales per week"
canten_sales

Mon    50
Tue    40
Wed    60
Thu    55
Fri    80
Sat    70
Sun     0
Name: sales per week, dtype: int64

In [25]:
canten_sales[3]

55

In [26]:
canten_sales["Mon"]

50

In [27]:
canten_sales[[2,4]]

Wed    60
Fri    80
Name: sales per week, dtype: int64

In [28]:
canten_sales[canten_sales>50]

Wed    60
Thu    55
Fri    80
Sat    70
Name: sales per week, dtype: int64

In [29]:
canten_sales[(canten_sales>40)&(canten_sales<60)]

Mon    50
Thu    55
Name: sales per week, dtype: int64

In [30]:
canten_sales[1:-1]

Tue    40
Wed    60
Thu    55
Fri    80
Sat    70
Name: sales per week, dtype: int64

In [31]:
canten_sales=canten_sales*2

In [32]:
canten_sales

Mon    100
Tue     80
Wed    120
Thu    110
Fri    160
Sat    140
Sun      0
Name: sales per week, dtype: int64

In [37]:
canten_sales=canten_sales/2

In [38]:
canten_sales

Mon    25.0
Tue    20.0
Wed    30.0
Thu    27.5
Fri    40.0
Sat    35.0
Sun     0.0
Name: sales per week, dtype: float64

In [39]:
adic={501:"Hamza",502:"Abbas",503:"Nouman",504:"Safdar",505:"Kashan"}

In [40]:
ss=pd.Series(adic)

In [41]:
ss.values

array(['Hamza', 'Abbas', 'Nouman', 'Safdar', 'Kashan'], dtype=object)

In [42]:
ss.index

Int64Index([501, 502, 503, 504, 505], dtype='int64')

In [44]:
sa=pd.Series(adic,index=[504,503,505,501,502])

In [45]:
sa

504    Safdar
503    Nouman
505    Kashan
501     Hamza
502     Abbas
dtype: object

In [49]:
ss.name="students Series"

In [50]:
ss.name

'students Series'

In [51]:
sa=pd.Series(adic,index=[504,503,505,501,502,507])

In [53]:
sa.isnull()

504    False
503    False
505    False
501    False
502    False
507     True
dtype: bool

In [54]:
pd.isnull(sa)           #we can use both methods

504    False
503    False
505    False
501    False
502    False
507     True
dtype: bool

## Can we change index names??

In [55]:
canten_sales=pd.Series([50,40,60,55,80,70,0],
                       index=["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
canten_sales.name="sales per week"
canten_sales

Mon    50
Tue    40
Wed    60
Thu    55
Fri    80
Sat    70
Sun     0
Name: sales per week, dtype: int64

In [56]:
canten_sales.index

Index(['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'], dtype='object')

In [60]:
canten_sales.index=["m","t","w","t","f","s","s"]

In [61]:
canten_sales.index

Index(['m', 't', 'w', 't', 'f', 's', 's'], dtype='object')

In [63]:
canten_sales["t"]

t    40
t    55
Name: sales per week, dtype: int64

so yes we can change index names
if there are multiple values with same name of index it will extract all

In [64]:
canten_sales.index.name

In [65]:
canten_sales.index.name="sales index"

In [66]:
canten_sales.index.name

'sales index'

In [67]:
canten_sales

sales index
m    50
t    40
w    60
t    55
f    80
s    70
s     0
Name: sales per week, dtype: int64

#  DataFrames

In [68]:
import pandas as pd

In [69]:
apples=pd.Series([0,1,2,3])
oranges=pd.Series([1,2,3,4])
data={"apples":apples,"oranges":oranges}
fruit_df=pd.DataFrame(data)

In [70]:
fruit_df

   apples  oranges
0       0        1
1       1        2
2       2        3
3       3        4